.button {
  @include button-reset;
  @include font-title(17px, 20px, $text-align: center, $color: $tundora);
  display: block;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $tundora;

  &:hover,
  &:focus {
    color: $white;
    background-color: $tundora;
  }

  &:active {
    color: $white-30;
  }
}
