.catalog {
  margin-bottom: 32px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin-bottom: 32px;
  outline: 1px solid $gallery;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    justify-content: space-between;
    min-height: 657px;
    margin-right: 51px;
    margin-bottom: 26px;

    &:nth-child(3n + 3) {
      margin-right: 0;
      padding-right: 0;
    }
  }
}
