.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  outline: 1px solid yellow;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 50px;
  }
}
