.contact__container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.contact__title {
  @include font-title(18px, 30px);
}

.contact__list {
  @include list-reset;
}

.contact__item {
  @include font-main(15px, 30px);
}

.contact__item-link {
  @include font-main(15px, 30px);
  text-decoration: none;
}

.contact__map {
  background-color: $alabaster;
}

.contact__link {
  @include font-title(18px, 20px, $text-align: center, $color: $tundora);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contact__container {
    width: $tablet-width;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .contact__wrapper {
    display: flex;
    position: relative;
    width: $desktop-width;
    margin: 0 auto;
    outline: 1px solid red;
  }

  .contact__container {
    width: 100%;
    margin-right: auto;
  }

  .contact__wrapper-map {
    margin-left: auto;
  }

  .contact__map {
    width: auto;
    min-height: 460px;
  }

  .contact__wrapper-button {
    position: absolute;
    bottom: 100px;
    left: 0;
  }

  .contact__wrapper-button.contact__container {
    width: auto;
  }
}
