.contact__wrapper {
  position: relative;

  &::before {
    @include pseudo;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px;
    width: 100%;
    height: 8px;
    top: 13px;
  }
}

.contact__container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.contact__title {
  @include font-title(18px, 30px);
  margin-bottom: 25px;
  padding-top: 55px;
}

.contact__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.contact__item {
  @include font-main(15px, 30px);

  &--email {
    margin-bottom: 30px;
  }

  &--email,
  &--adress {
    width: 146px;
    margin-left: 29px;
  }
}

.contact__item-link {
  @include font-main(15px, 30px);
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid $downy-two;

  &:hover,
  &:focus {
    color: $puerto-rico;
    border-bottom: 1px solid $puerto-rico;
  }

  &:active {
    opacity: 0.3;
    border-bottom: 1px solid $aqua-spring;
  }
}

.contact__wrapper-map {
  position: relative;
  margin-bottom: 36px;

  &::after {
    @include pseudo;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-size: 67px 100px;
    width: 67px;
    height: 100px;
    bottom: 215px;
    left: 219px;
  }
}

.contact__map {
  background-color: $alabaster;
  height: 457px;
}

.contact__map-google {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.contact__wrapper-button {
  margin-bottom: 39px;
}

.contact__link {
  display: block;
  width: 259px;
  padding-top: 15px;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .contact {
    margin-bottom: 57px;
  }

  .contact__wrapper {
    &::before {
      background-size: auto 17px;
      height: 22px;
      top: 48px;
    }
  }

  .contact__container {
    width: $tablet-width;
    padding: 0 50px;
  }

  .contact__title {
    @include font-title(43px, 50px);
    position: relative;
    padding-top: 125px;
    margin-left: -4px;
    margin-bottom: 49px;

    &::after {
      @include pseudo;
      background-image: url("../img/icon-flag.svg");
      width: 46px;
      height: 81px;
      bottom: -16px;
      right: 4px;
    }
  }

  .contact__list {
    margin-bottom: 56px;
  }

  .contact__item {
    font-size: 17px;

    &--email,
    &--adress {
      width: 230px;
    }

    &--email {
      margin-right: 26px;
      margin-left: 23px;
    }

    &--adress {
      margin-left: 26px;
    }

    .contact__item-link {
      font-size: 17px;
    }
  }

  .contact__wrapper-map {
    margin-bottom: 52px;

    &::after {
      left: 364px;
    }
  }

  .contact__wrapper-button {
    margin-bottom: 57px;
  }

  .contact__link {
    width: 230px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;
    margin-bottom: 102px;
  }

  .contact__wrapper {
    display: flex;
    width: $desktop-width;
    margin: 0 auto;

    &::before {
      background-image: none;
    }
  }

  .contact__wrapper-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1150px;
    margin-right: auto;
    padding: 0 50px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: auto 21px;
    background-position: 50px 35px;

    &::after {
      @include pseudo;
      background-image: url("../img/icon-map-pin.svg");
      background-repeat: no-repeat;
      background-size: 67px 100px;
      width: 67px;
      height: 100px;
      bottom: 211px;
      right: 270px;
    }
  }

  .contact__container {
    @include reset;
    width: 500px;
    margin-right: 25px;

    &::before {
      display: none;
    }
  }

  .contact__title {
    @include font-title(53px, 57px);
    padding-top: 155px;
    margin-left: 170px;

    &::after {
      bottom: -16px;
      right: 0;
      left: -107px;
    }
  }

  .contact__list {
    width: 372px;
    margin-left: 174px;
    margin-bottom: 78px;
  }

  .contact__item--mail {
    margin-right: 0;
  }

  .contact__wrapper-map {
    padding-top: 129px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::after {
      display: none;
    }
  }

  .contact__map-google {
    position: absolute;
    right: 51px;
    top: 128px;
    width: 525px;
  }

  .contact__map {
    width: 525px;
    min-height: 457px;
    position: absolute;
    right: 51px;
    top: 128px;
    z-index: -1;
  }

  .contact__wrapper-button {
    align-self: flex-start;
    margin-left: 175px;

    &::before {
      display: none;
    }
  }

  .contact__wrapper-button.contact__container {
    width: auto;
  }
}
