.copyright {
  padding-left: 38px;
}

.copyright__icon {
  width: 50px;
  height: auto;
  padding-top: 9px;

  & path {
    fill: $downy;
  }
}

.copyright__link {
  margin-right: 23px;
  display: flex;
  align-content: center;

  &:hover,
  &:focus {
    & + .copyright__icon path {
      fill: $puerto-rico;
    }
  }

  &:active {
    opacity: 0.3;

    & .copyright__icon {
      opacity: 0.3;
    }
  }
}

.copyright__text {
  @include font-title(19px, 18px);
  padding-top: 19px;
  margin-right: 17px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 230px;
    padding-left: 6px;
  }

  .copyright__text {
    margin-right: 0;
    padding-top: 23px;
  }

  .copyright__link {
    justify-content: flex-end;
  }

  .copyright__icon {
    width: 39px;
    height: 59px;
    margin-right: -29px;
    margin-left: 23px;
    padding-top: 10px;
  }
}
