.form__list {
  @include list-reset;
}

.form__legend {
  @include font-title(17px, 16px, $color: $downy);
  text-transform: uppercase;
}

.form__label {
  @include font-title(17px, 18px);
}

.form__input {
  @include font-main(19px, 18px);
}

.form__input::placeholder,
.form__textarea::placeholder {
  @include font-main(17px, 18px);
  color: $tundora-30;
}

.form__input--phone {
  @include font-main(19px, 18px);
  text-transform: uppercase;
}

.form__text {
  @include font-main(14px, 16px);
}

.form__button {
  @include font-title(17px, 16px, $text-align: center, $color: $tundora);
  text-transform: uppercase;
  cursor: pointer;
}
