.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  min-height: 79px;
  margin-top: 1px;
  padding-left: 86px;
}

.main-header__logo-image {
  background-color: $alabaster;
}

.main-header__logo:hover,
.main-header__logo:focus {
  opacity: 0.6;
}

.main-header__logo:active {
  opacity: 0.3;
}

.main-header__toggle {
  @include button-reset;
  position: relative;
  width: 25px;
  height: 19px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    flex-direction: row;
  }

  .main-header__wrapper {
    margin-right: 60px;
    padding-left: 0;
    align-items: flex-start;
    padding-top: 18px;
  }

  .main-header__logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 112px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    flex-direction: column;
  }

  .main-header__wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 9px;
    left: 500px;
  }

  .main-header__logo img {
    width: 149px;
  }
}
