.main-nav__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__text {
    @include font-main(15px, 24px);
    display: block;
    text-align: right;
    position: absolute;
    bottom: -42px;
    right: 51px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__wrapper {
    position: relative;
  }
}
