.main-nav__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 20px;
    order: 3;
  }

  .main-nav__text {
    @include font-main(15px, 24px);
    position: absolute;
    display: block;
    text-align: right;
    right: 51px;
    bottom: -42px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    padding-top: 0;
    order: 0;
  }

  .main-nav__wrapper {
    position: relative;
  }
}
