.main-header__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-left: 75px;
}

.main-header__wrapper-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
  min-height: 79px;
  margin-top: 1px;
  padding-left: 31px;
}

.main-header__logo-image {
  background-color: $alabaster;
}

.main-header__logo {
  padding-left: 10px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__toggle {
  @include button-reset;
  position: relative;
  width: 25px;
  height: 19px;
  cursor: pointer;

  &::before {
    @include pseudo;
    top: -3px;
    left: 3px;
    width: 21px;
    height: 23px;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-size: 21px 23px;
  }

  &--close::before {
    background-image: url("../img/icon-menu-close.svg");
  }

  &--hide {
    display: none;
  }
}

.main-header__search {
  position: relative;

  &-link {
    @include font-title(17px, 24px);
    display: flex;
    padding-top: 27px;
    padding-bottom: 28px;
  }

  &-icon {
    position: absolute;

    &--search {
      top: 31px;
      left: -43px;
    }
  }
}

.main-header__search-icon,
.main-header__backet-icon {
  fill: $thunder;
  opacity: 0.2;
}

.main-header__backet {
  position: relative;

  &-link {
    @include font-title(17px, 24px);
    display: flex;
    padding-top: 27px;
    padding-bottom: 22px;
  }

  &-icon {
    position: absolute;

    &--backet {
      top: 28px;
      left: -44px;
    }
  }

  &::before {
    @include pseudo;
    position: absolute;
    top: 0;
    left: -74px;
    width: 320px;
    height: 1px;
    background-color: #ececec;
  }

  &::after {
    @include pseudo;
    position: absolute;
    bottom: -6px;
    left: -74px;
    width: 320px;
    height: 1px;
    background-color: #ececec;
  }
}

.main-header__search-link:hover,
.main-header__search-link:focus {
  color: $black-hover;

  & .main-header__search-icon--search {
    fill: $downy;
    opacity: 1;
  }
}

.main-header__search-link[href]:active {
  color: $black-active;

  & .main-header__search-icon--search {
    opacity: 0.3;
  }
}

.main-header__backet-link[href]:hover,
.main-header__backet-link[href]:focus {
  color: $black-hover;

  & .main-header__backet-icon--backet {
    fill: $downy;
    opacity: 1;
  }
}

.main-header__backet-link[href]:active {
  color: $black-active;

  & .main-header__backet-icon--backet {
    opacity: 0.3;
  }
}

.main-header__new,
.main-header__sale,
.main-header__shipping {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: block;
    padding-left: 0;
    background-image: linear-gradient(to bottom, #ffffff 87px, $tundora-10 1px, $tundora-10 1px, $alabaster-three 88px);
  }

  .main-header--catalog {
    display: block;
    padding-left: 0;
    background-image: linear-gradient(to bottom, #ffffff 87px, $tundora-10 1px, $tundora-10 1px, $seashell 88px);
  }

  .main-header__container {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    padding: 0 50px;
    padding-top: 5px;
  }

  .main-header__wrapper-logo {
    align-items: flex-start;
    margin-right: 60px;
    padding-left: 0;
    padding-top: 0;
    order: 0;
  }

  .main-header__logo {
    padding-left: 0;
  }

  .main-header__logo img {
    display: block;
    width: 112px;
    height: auto;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 16px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__search-text {
    display: none;
  }

  .main-header__search {
    display: block;
    margin-left: auto;
    margin-right: 76px;
    padding-left: 82px;
    border-right: 1px solid $gallery;
    border-left: 1px solid $gallery;
    order: 1;

    &-icon--search {
      left: 33px;

      &:hover,
      &:focus {
        opacity: 1;

        & path {
          fill: $downy;
        }
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .main-header__backet {
    display: block;
    order: 2;

    &::before,
    &::after {
      display: none;
    }
  }

  .main-header__backet-link {
    padding-left: 7px;
  }

  .main-header__shipping {
    display: block;
    margin-left: auto;
    padding-top: 20px;
    order: 4;

    &-text {
      @include font-main(15px, 24px);
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    width: $desktop-width;
    padding: 0 50px;
  }

  .main-header__wrapper-logo {
    margin-right: 0;
    padding-left: 47px;
    order: 1;
  }

  .main-header__logo img {
    width: 149px;
    padding-top: 8px;
  }

  .main-header__search {
    margin-right: 78px;
    order: 2;

    &-icon {
      top: 36px;
    }
  }

  .main-header__backet {
    order: 3;

    &-link {
      padding-top: 32px;
      padding-left: 9px;
    }

    &-icon {
      top: 34px;
    }
  }

  .main-header__new {
    display: block;
    margin-right: 61px;
    padding-top: 21px;
    order: 4;

    &-link {
      @include font-title(15px, 24px);
    }
  }

  .main-header__sale {
    display: block;
    margin-right: 36px;
    padding-top: 21px;
    order: 5;

    &-link {
      @include font-title(15px, 24px);
    }
  }

  .main-header__sale-link:hover,
  .main-header__new-link:hover,
  .main-header__sale-link:focus,
  .main-header__new-link:focus {
    color: $black-hover;
  }

  .main-header__sale-link:active,
  .main-header__new-link:active {
    color: $black-active;
  }

  .main-header__shipping {
    order: 6;
  }
}
