.modal {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $white-90;
}

.modal__wrapper {
  position: fixed;
  top: 300px;
  left: 50%;
  width: 320px;
  padding: 0 30px;
  padding-top: 11px;
  transform: translateX(-50%);
  background-color: $white;
  border: 1px solid $silver;
  box-shadow: 0 5px 10px 0 $swamp;
}

.modal__title {
  @include font-title(25px, 30px);
  margin: 0;
  margin-bottom: 11px;
  padding-top: 20px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
  text-transform: uppercase;
}

.modal__text {
  @include font-main(15px, 30px);
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.modal__form-fieldset {
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.modal__form-wrapper {
  display: flex;
}

.modal__form-input[type="radio"] {
  display: none;
}

.modal__form-label {
  @include font-title(17px, 16px);
  display: block;
  width: 82px;
  margin-right: 6px;
  padding: 16px 32px;
  text-align: center;
  border: 2px solid $tundora-10;

  &:hover,
  &:focus {
    border: 2px solid $tundora-30;
  }

  &:active {
    border: 2px solid $downy-two;
  }
}

.modal__form-input[type="radio"]:checked + .modal__form-label {
  border: 2px solid $downy-two;
}

.modal__button {
  @include button-reset;
  @include font-title(17px, 16px, $text-align: center, $color: $white);
  width: 260px;
  margin-bottom: 45px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
  background-color: $downy;
}

@media (min-width: $tablet-width) {
  .modal__wrapper {
    width: 566px;
    padding: 0 50px;
  }

  .modal__form-fieldset {
    margin-bottom: 29px;
  }

  .modal__title {
    @include font-title(30px, 57px);
    margin-bottom: 14px;
    padding-top: 33px;
  }

  .modal__text {
    font-size: 17px;
    margin-bottom: 21px;
  }

  .modal__form-wrapper {
    padding-left: 57px;
  }

  .modal__form-label {
    width: 112px;
    padding: 17px 47px;
  }

  .modal__button {
    width: 350px;
    margin-left: 59px;
  }
}
