.page-main--index {
  padding-top: 5px;
}

.page-main__wrapper {
  margin-bottom: 0;
}

.page-main__wrapper--image {
  min-height: 283px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 575px 373px;
  background-position-x: 50%;
  background-position-y: 19%;
  background-color: $alabaster-two;
}

.page-main__wrapper--catalog {
  min-height: 175px;
  background-color: $seashell;
  margin-bottom: 31px;
}

.page-main__title {
  @include font-title(27px, 30px);
  text-align: center;
  padding-top: 71px;
  margin-top: 0;
}

.page-main__description {
  @include font-main(13px, 24px);
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 0;
  }

  .page-main__wrapper {
    background-color: $seashell;
    border-top: none;
  }

  .page-main__wrapper--image {
    min-height: 586px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1150px 746px;
    background-position-x: 50%;
    background-position-y: 26%;
    background-color: $alabaster-two;
  }

  .page-main__wrapper--catalog {
    position: relative;
    min-height: 183px;
    background-color: $seashell;
    margin-bottom: 81px;

    &::before {
      @include pseudo;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
      width: 100%;
      height: 23px;
      bottom: -15px;
    }
  }

  .page-main__title {
    @include font-title(43px, 50px);
    text-align: center;
    margin: 0;
    padding-top: 112px;
  }

  .page-main__title--catalog {
    padding-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    background-color: $alabaster-three;
  }

  .page-main__wrapper--catalog {
    min-height: 215px;
    background-color: $seashell;
    margin-bottom: 127px;

    &::before {
      background-size: auto 34px;
      height: 34px;
    }
  }

  .page-main__title {
    @include font-title(53px, 57px);
    text-align: center;
  }

  .page-main__title--catalog {
    padding-top: 51px;
  }
}
