.page-footer {
  min-height: 160px;
  background-color: $seashell;
}

.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__wrapper {
    padding-top: 40px;
  }

  .page-footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: $tablet-width;
    padding: 0 50px;
    padding-top: 0;
  }

  .page-footer__logo {
    display: block;
    width: 227px;
    margin-top: 11px;
    margin-right: 47px;

    &:hover,
    &:focus {
      fill: $puerto-rico;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: $desktop-width;
    padding: 0 50px;
  }

  .page-footer__logo {
    margin-right: 56px;
  }
}
