.production {
  margin-bottom: 59px;
}

.production__wrapper {
  padding-bottom: 32px;
  outline: 1px solid $gallery;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 $black-10;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $black-10;
  }
}

.production__title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 9px;

  &::before {
    @include pseudo;
    top: 30px;
    left: 33px;
    width: 33px;
    height: 31px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: 32px 31px;
  }
}

.production__title {
  @include font-title(17px, 24px);
  margin-left: 90px;
  padding-top: 11px;
}

.production__video-image {
  margin-bottom: 10px;
  background-color: $seashell;
}

.production__text {
  @include font-main(13px, 24px);
  margin-bottom: 26px;
  padding-left: 35px;
  padding-right: 35px;
}

.production__button {
  width: 192px;
  margin-left: 34px;
  padding-top: 15px;
  padding-bottom: 13px;
}

.production__video-wrapper {
  position: relative;
}

.production__video-button {
  position: absolute;
  top: 37px;
  left: 70px;
  width: 124px;
  height: 81px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 121px 77px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 63px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
  }

  .production__title-wrapper {
    margin-bottom: 0;
    order: 1;

    &::before {
      top: 20px;
      left: 40px;
    }
  }

  .production__title {
    margin-left: 104px;
    padding-top: 7px;
    font-size: 20px;
  }

  .production__video-wrapper {
    order: 0;
  }

  .production__video-image {
    width: 668px;
    height: auto;
  }

  .production__video-button {
    top: 187px;
    left: 272px;
  }

  .production__text {
    @include font-main(15px, 30px);
    margin-bottom: 36px;
    padding-left: 40px;
    order: 2;
  }

  .production__button {
    width: 584px;
    margin-left: 40px;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__wrapper {
    position: relative;
    flex-wrap: wrap;
    width: 368px;
    min-height: 455px;
    margin-left: auto;
    padding-left: 78px;
    padding-top: 37px;
    padding-right: 57px;
    padding-bottom: 61px;
  }

  .production__video-image {
    position: absolute;
    top: -37px;
    left: -760px;
    width: 682px;
    height: 455px;
    margin-bottom: 0;
    overflow: hidden;
  }

  .production__video-button {
    top: 152px;
    left: -479px;
  }

  .production__button {
    width: 100%;
    margin-left: 0;
  }

  .production__title-wrapper {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 16px;
    padding-top: 34px;

    &::before {
      top: 6px;
      left: 2px;
    }
  }

  .production__title {
    margin-left: 0;
  }

  .production__text {
    margin-bottom: 47px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
