.range__list {
  @include list-reset;
}

.range__item {
  background-color: $downy;

  &:hover,
  &:focus {
    background-color: $viking;
    transform: translateY(-5px);
  }
}

.range__item--interior:hover::before {
  @include pseudo;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: $viking;
}

.range__item--toy:hover::before {
  @include pseudo;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: $puerto-rico;
}

.range__item:last-child {
  background-color: $fountain-blue;

  &:hover,
  &:focus {
    background-color: $puerto-rico;
  }
}

.range__item-container {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.range__item-link {
  @include font-title(19px, 24px);
  display: block;
  padding-right: 113px;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 30px;
  color: $white;

  &:active {
    color: $white-30;
  }

  &--interior {
    position: relative;

    &::after {
      @include pseudo;
      top: 23px;
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
      background-repeat: no-repeat;
      background-size: 40px 62px;
      opacity: 0.5;
    }
  }

  &--toy {
    position: relative;

    &::after {
      @include pseudo;
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
      background-repeat: no-repeat;
      background-size: 60px 60px;
      opacity: 0.5;
    }
  }
}

.range__item-link--interior,
.range__item-link--toy {
  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .range__wrapper {
    background-color: $alabaster-three;
  }

  .range__container {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .range__list {
    display: flex;
  }

  .range__item-container {
    width: 100%;
  }

  .range__item {
    width: 334px;
  }

  .range__item-link {
    @include font-title(20px, 30px);
    padding-top: 27px;
    padding-left: 36px;
    color: $white;

    &--interior::after {
      top: 30px;
      right: 37px;
    }

    &--toy::after {
      top: 32px;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .range__container {
    width: $desktop-width;
    padding: 0 50px;
  }

  .range__item {
    width: 525px;

    &-link {
      padding-right: 320px;
    }
  }
}
