.site-list {
  @include list-reset;
}

.site-list__item-link {
  @include font-title(17px, 24px);
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
}

.site-list__item-link:hover,
.site-list__item-link:focus {
  color: $black-hover;
}

.site-list__item-link:active {
  color: $black-active;
}

.site-list__item {
  position: relative;
  min-height: 79px;

  &::after {
    @include pseudo;
    left: -74px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: $gallery;
  }
}

.site-list__item:first-child .site-list__item-link::before {
  @include pseudo;
  left: -74px;
  top: 0;
  width: 320px;
  height: 1px;
  background-color: $gallery;
}

.site-list__icon {
  position: absolute;
  top: 31px;
  left: -31px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .site-list__item {
    min-height: auto;
    width: 166px;

    &::before,
    &::after {
      display: none;
    }
  }

  .site-list__item--search,
  .site-list__item--backet {
    display: flex;
    padding-top: 31px;
    padding-right: 30px;
    padding-bottom: 33px;
    padding-left: 33px;
  }

  .site-list__item--backet {
    position: relative;
    padding-right: 0;
    padding-left: 83px;
  }

  .site-list__item--search .site-list__item-link {
    display: none;
  }

  .site-list__item--search {
    border-right: 1px solid $gallery;
    border-left: 1px solid $gallery;
  }

  .site-list__icon {
    position: relative;
    top: 0;
    left: 0;

    &--backet {
      position: absolute;
      top: 33px;
      left: 33px;
      margin-top: 2px;
      margin-right: 30px;
    }
  }

  .site-list__item-link {
    padding: 0;

    &--catalog,
    &--form {
      @include font-title(15px, 24px);
    }
  }

  .site-list__item:first-child .site-list__item-link::before {
    display: none;
  }

  .site-list__icon--search {
    margin-top: 5px;

    &:hover,
    &:focus {
      opacity: 1;

      & path {
        fill: $downy;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    display: block;
    width: 185px;
    padding: 0;
    padding-top: 11px;

    &--catalog,
    &--form {
      position: inherit;
    }

    &--catalog {
      margin-right: 33px;
      padding-right: 0;
      border-right: 1px solid #ececec;
    }

    &--search {
      margin-left: auto;
      padding-left: 31px;
      padding-right: 33px;
    }

    &--backet {
      padding-left: 85px;
    }

    &--new,
    &--sale {
      position: absolute;
      bottom: -73px;
    }

    &--new {
      left: 0;
    }

    &--sale {
      left: 218px;
    }
  }

  .site-list__item-link {
    padding-top: 20px;
    padding-bottom: 30px;

    &--new,
    &--sale {
      @include font-title(15px, 24px);
    }

    &--catalog,
    &--form {
      @include font-title(17px, 24px);
    }
  }
}
