.slider {
  position: relative;
}

.slider__toggles {
  display: flex;
  margin-bottom: 38px;
}

.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  background-color: transparent;
  border: none;
  outline: 1px solid $gallery;

  &--forward {
    position: relative;

    &::before {
      @include pseudo;
      top: 13px;
      left: 38px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-left-arrow.svg");
      background-repeat: no-repeat;
    }
  }

  &--back {
    position: relative;

    &::after {
      @include pseudo;
      top: 13px;
      right: 42px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-right-arrow.svg");
      background-repeat: no-repeat;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    outline: none;

    &--forward::before {
      top: 17px;
      left: 54px;
    }

    &--back::after {
      top: 17px;
      right: 69px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__toggles {
    margin-bottom: 0;
  }

  .slider__toggle {
    &--forward::before {
      top: 10px;
    }

    &--back::after {
      top: 10px;
    }
  }
}
