.social {
  width: 250px;
  margin-bottom: 9px;
}

.social__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 25px 0 24px 57px;
  border-bottom: 1px solid $mercury;
}

.social__item {
  margin-right: 41px;

  &--instagram,
  &--twitter {
    padding-top: 5px;
  }
}

.social__icon {
  &:hover,
  &:focus {
    fill: $puerto-rico;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 205px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .social__list {
    @include reset;
    padding-top: 8px;
    border-bottom: 0;
    justify-content: flex-start;
  }

  .social__item {
    margin-right: 41px;
  }
}
