$font: "OpenSans", "Arial", sans-serif;
$diesel: #010000;
$tundora: #444444;
$tundora-30: rgba(68, 68, 68, 0.3);
$black: #000000;
$black-hover: rgba(0, 0, 0, 0.6);
$black-active: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$downy: #63d1bb;
$fountain-blue: #56c3b2;
$viking: #59d5bc;
$puerto-rico: #46c1ae;
$tablet-width: 768px;
$desktop-width: 1150px;
$alabaster: #fafafa;
$alabaster-two: #f8f8f8;
$alabaster-three: #f9f9f9;
$seashell: #f1f1f1;
$gallery: #ececec;
$keppel: #3bb09d;
$keppel-two: #35a999;
